img.Navbar.logo {
    width: 100px;
    height: 100%;
}
.header-item.text{
    color: black;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;

}
.header-item.text:hover{
    color: orangered;
}
.li.nav-item {
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-deck.card1 {
    width: 1320px;
    margin-left: 20px;
}
.card-deck.mt-5 {
    width: 1320px;
    margin-left: 20px;
}
/* .text h1{
    margin-left: 500px;
} */

li.nav-item {
    padding: 0 10px;
}
.card-footer a.btn.btn-primary:hover,a.btn.btn-primary:active {
color: white;
background: green;
border-color: green;
}

h1.heading {
    justify-content: center;
    position: absolute;
    text-align: center;
    left: 432px;
    top: 27px;
    font-size: xxx-large;
    font-weight: bold;


    background: -webkit-linear-gradient(rgb(204, 24, 24), #0db6b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.card-footer a.btn.btn-primary {
    background-color: blue;
    border-color: blue;
} 
.home-text h1 {
    margin-left: 491px;
}
.card-1{
   
    color: black;
}
.card-body {
    background: antiquewhite;
}

a.btn.btn-primary {
    width: 367px;
}
.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-footer {
    width: 409px;
}

.card-img-top{
   transition: transform 0.5s;
    
} 
.about-2-right.wow.fadeInUp {
    color: white;
    background-color: #1F2430;
    padding: 20px;
    border-radius: 20px;
}
.p.mb-30 {
    font-weight: 600;
    color: white;
}
.mb-50 {
    margin-bottom: 2rem;
}
/* .card-img-top:hover{
    width: 100%;
    cursor: pointer;
    transform: scale(1.1);
}

/* .card-img-top:hover {
  width: 320px;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
} */
