img.Navbar.logo {
    width: 100px;
    height: 100%;
}
.header-item.text{
    color: black;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;

}
.header-item.text:hover{
    color: orangered;
}
.li.nav-item {
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-deck.card1 {
    width: 1320px;
    margin-left: 20px;
}
.card-deck.mt-5 {
    width: 1320px;
    margin-left: 20px;
}
.text h1{
    margin-left: 500px;
}

li.nav-item {
    padding: 0 10px;
}
.card-footer a:hover {

    color: orangered;
}