<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
  <body>

    
 
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
      <nav class="navbar">

 <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="https://cdn.freebiesupply.com/images/large/2x/canon-inc.-logo-png-transparent.png" 
            alt="Bootstrap" width="100" height="35">
          </a>
        </nav>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product.html">Product</a>
            </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  About
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="printer.html">Printer</a></li>
                  <li><a class="dropdown-item" href="watch.html">scanner</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="other.html">other</a></li>
                </ul>
              </li>
                  <li class="nav-item">
                    <a class="nav-link " aria-current="true" href="contact.html">Contact</a>
                  </li>
          </ul>
          <a class ="float-left btn btn-outline-success" aria-current="true" href="Details.html">Details</a>

          </div>
          </div>
          </nav>
          
          
      <!-- HOME IMAGE -->
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <a href="https://in.canon/en/consumer/pixma-g3770/product">
            <img src="https://in.canon/media/image/2023/06/14/c8773fb4d8994c3e8d3e4999c52f4187_Web-banner1920Wx750H.jpg" class="d-block w-100" alt="...">
          </a>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <a href="https://in.canon/en/consumer/eos-r8-body/product">
            <img src="https://in.canon/media/image/2023/07/18/3116632cbef4486484598110cdb69f08_29062023_CanonCameras-DigitalBanners-R8_+Corporate-+1920+x+750+-min.jpg" class="d-block w-100" alt="...">
          </a>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://in.canon/media/image/2023/08/08/fe7aaeba9fff4c3389514b402338fe4a_Corporate+digital-1920Wx750H.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://in.canon/media/image/2024/02/01/eafd5ee4cf1e451fb9f1c420121ad974_bundle_Offer_Banner_1920x750_February+File+%281%29+%281%29.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://in.canon/media/image/2023/10/04/e0ddc0ef832d4535b52d3db42fa3a4c0_MegaTank+Corp.png" class="d-block w-100" alt="...">
          </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


      
      <div class="row row-cols-1 row-cols-md-3 g-4 template ">
        <div class="col">
          <div class="card h-100">
            <img src="https://in.canon/media/image/2022/02/16/5a03e44425eb48ca9a13ef17f06d2969_EOS+R5C+Front.png" class="card-img-top" alt="...">
            <div class="card-body">
             <h5 class="card-title text-center" >EOS R5 C</h5>
              
            </div>
           
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://in.canon/media/image/2023/10/20/af3319170eb444928e2c21a2baea8fa1_G3770_blk_AS_FR_cl_en_362_megatank_v1.2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">PIXMA G3770</h5>
              
            </div>
           
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://in.canon/media/image/2023/09/29/2f5f9babb25c423da83e7a399bb7b58f_GX1070_FY23AT_B1_FS_compact_en_362x320_megatank.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">MAXIFY GX1070</h5>
           </div>
            </div>
        </div>
      </div>
      <br/>
      

      
      <div class="card mb-3" style="max-width: 1200px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://in.canon/media/image/2023/09/29/bd0a5367ebe14446bca5392a8dec57ae_GX5570_V1_FS_Compact_EN_362x320_megatank.png" width="400" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">MAXIFY GX5570</h5>
              <p class="card-text">Experience seamless printing operations and maximise productivity with GX5570. With its efficient, uninterrupted printing capabilities, dual cassette paper trays and tailored design, it is ideal for your small business needs.</p>
              <a class="btn btn-outline-success" aria-current="page" href=https://in.canon/en/consumer/maxify-gx5570/product>More product</a>
            </div>
          </div>
        </div>
      </div>
     
        <a class="btn btn-outline-success middel-button" type="button" aria-current="page" href=https://in.canon/en/consumer/products> New more product</a>
     <br><br>
        <div class="card mb-3" style="max-width: 1200px;">
          <div class="row g-0">
            <div class="col-md-4">
              <h3>News & Press Release</h3>
              <img src="https://in.canon/media/image/2023/11/24/a4429d8b9cc946e694ad221477ec600a_TM-5250dt_01fv+%281%29.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <br><br>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Canon introduces all new revolutionary imagePROGRAF TM Series: a leap forward in Large Format Printing for diverse needs</h5>
                <p class="card-text"> 28 Nov 2023 — The all-new TM Series effectively addresses the ‘speed v/s quality’ paradox often faced by copy shops and the photo studio segment by delivering on both the fronts. The printers are engineered to be #FastandFlawless ensuring quick turnarounds on prints with</p>
                <a class="btn btn-outline-success last-button" type="button" aria-current="page" href=https://in.canon/en/consumer/introduces-all-new-revolutionary-imageprograf-tm-series-a-leap-forward-in-large-format-printing-for-diverse-needs/news> Read  more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="https://in.canon/media/image/2023/11/08/f52118f3ad954811807e399126b90778_RF200-800mm+f6.3-9+IS+USM+Front+Slant-min.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Canon Unveils the World’s First Super Telephoto Zoom Lens</h5>
                <p class="card-text">03 Nov 2023 — Zoom up to 800mm (or 1600mm with a teleconverter), with Canon’s groundbreaking RF200-800mm f/6.3-9 IS USM, which is also its first weather-sealed</p>
              </div>
              
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://in.canon/media/image/2023/11/08/0bc751730eb94f78a907234e0d74e498_RF24-105mm+f2.8L+IS+USM+Z+Front+Slant+with+Hood.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Hybrid Extraordinaire: The RF24-105mm f/2.8 L IS USM Z Redefines the Professional</h5>
                <p class="card-text">03 Nov 2023 — Combined with the new Power Zoom Adapter PZ-E2, smooth zooming for video production can be achieved.</p>
              </div>
              
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="https://in.canon/media/image/2023/11/09/def8dce2be8145e98e0138debcadd8dc_RF-S10-18mm+f4.5-6.3+IS+STM+Front+Slant.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Canon’s Lightest Ultra-Wide-Angle Zoom Lens Expands Options for APS-C Users</h5>
                <p class="card-text">03 Nov 2023 — Canon’s widest lens for APS-C users will be an asset for vast scenes, shooting in tight spaces, and handheld vlogging</p>
              </div>
           
            </div>
          </div>
        </div>

        <!-- Button trigger modal -->
<button type="button" class="btn text float-end floating" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
  <i class="fa fa-whatsapp" style="font-size:48px;color:green"></i>
</button>
  
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content ">
        <div class="md-form">
          <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="typing message..."></textarea>
        </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">send</button>
      </div>
    </div>
  </div>
</div>
    </body>
</html>