<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
 <h1><center><u><b>Registration form</b></u></center></h1>
 <div class="center">   
 <form >
First Name<input type="text"></br><br>
Last Name&nbsp;<input type="text"></br><br>
Contact No <input type="number"></br><br>
<br>
Cricket Ball: <input type ="radio" Name="Tennis">Tennis
 <input type ="radio" Name="Tennis">Season
 <input type ="radio" Name="Tennis">Leather<br><br>
Location:
<select type="Location" id ="location">
<option>Ahmedabad</option>Ahmedabad
<option>vadodra</option>vadodra
<option>Gandhinagar</option>Gandhinagar</select><br><br>
player type : 
<input type="checkbox" id="122 ">
<label>Batsman</label>
<input type="checkbox" id="122 ">
<label>Bowler</label>
<input type="checkbox" id="122 ">
<label>All roundar</label><br><br>
<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fencrypted-tbn0.gstatic.com%2Flicensed-image%3Fq%3Dtbn%3AANd9GcRqprksER3ZS6M1gVUmWxpDe-TSdtVHethWwGvmOqalWJEFsHHVLVdNW94sHFPRuA3WlK8DqGhfPrw5B2U&psig=AOvVaw3eCyb1-LVIvcbPwohacM22&ust=1706875218788000&source=images&cd=vfe&opi
=89978449&ved=0CBIQjRxqFwoTCJDlrOqLioQDFQAAAAAdAAAAABAE" width="100" height="100">
<br> <br>
<img src="https://staticg.sportskeeda.com/editor/2019/11/74be4-15750142155115-800.jpg" width="100" height="100">
<br>


</form>
</div>
</body>
</html>